#set ($catLocalService = $serviceLocator.findService("com.liferay.asset.kernel.service.AssetCategoryLocalService"))
#set ($assetEntryLocalService = $serviceLocator.findService("com.liferay.asset.kernel.service.AssetEntryLocalService"))
#set ($exceptCat=['New', 'new'])
#set ($prefixUrl='/promotions/')
<section id="s-blog">
    <div class="cloud-container v-section-inner">
        #set ( $numBlogMain = 1 )
        #if (!$entries.isEmpty())
            #set ( $mapCat = {} )
            #foreach ($entry in $entries)
                #set( $categories = $catLocalService.getEntryCategories($entry.getEntryId()) )
                #set( $cat = $categories.get(0) )
                #set ($arrArticle = $mapCat.get($cat) )

                #if( !$arrArticle )
                    #set ($arrArticle = [] )
                #end
                #set( $all = $arrArticle.add($entry) )
                #set ($allow = $mapCat.put($cat, $arrArticle))
            #end
            <div class="promotion blog-widget row pb-3">
                #set ($latestBlogEntry = $entries.get(0))
                #set($renderer = $latestBlogEntry.getAssetRenderer())
                #set( $journalArticle = $renderer.getArticle() )
                #set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
                #set( $rootElement = $document.getRootElement() )

                #set( $xPathTitle = $saxReaderUtil.createXPath("dynamic-element[@name='title']/dynamic-content[@language-id='$themeDisplay.getLanguageId()']"))
                #set( $title = $xPathTitle.selectSingleNode($rootElement).getStringValue())

                #set ($xPathUrl = $saxReaderUtil.createXPath("dynamic-element[@name='urlDetail']/dynamic-content[@language-id='$themeDisplay.getLanguageId()']"))
                #set( $url= $xPathUrl.selectSingleNode($rootElement).getStringValue())

                #set( $xPathDesc = $saxReaderUtil.createXPath("dynamic-element[@name='Description']/dynamic-content[@language-id='$themeDisplay.getLanguageId()']"))
                #set( $desc = $xPathDesc.selectSingleNode($rootElement).getStringValue())

                #set( $xPathImage = $saxReaderUtil.createXPath("dynamic-element[@name='thumbnailImage']/dynamic-content[@language-id='$themeDisplay.getLanguageId()']"))
                #set( $image = $xPathImage.selectSingleNode($rootElement).getStringValue())
                #set( $imgJson = $jsonFactoryUtil.createJSONObject($image) )

                #if (!$image.isEmpty())
                    #set ($urlImage = "/documents/"+ $imgJson.groupId +"/" +$imgJson.fileEntryId +"/"+ $imgJson.name +"/"+$imgJson.uuid)
                #else
                    #set( $urlImage = '/documents/20126/906379/default-placeholder.jpg')
                #end
                <div class="col-lg-7 col-md-6">
                    <a class="promotion__thumb blog-img" href="$prefixUrl$url">
                        <div class="promotion-img lazyload bg-cover h-100" data-bgset="$urlImage"></div>
                    </a>
                </div>
                <div class="col-lg-5 col-md-6 promotion__content padding-xs">
                    <div class="blog-heading">
                        #set ($categories = $catLocalService.getEntryCategories($latestBlogEntry.getEntryId()))
                        #if ($categories.size() > 0)
                            <div class="blog-category">
                                #foreach($cat in $categories)
                                    #if (!$exceptCat.contains($cat.getName()))
                                        <p class="t-upper">$cat.getName()</p> 
                                    #end
                                #end
                            </div>
                        #end
                    </div>
                    <a class="promotion__title blog-widget-title text-shadow transition-all f-medium" href="$prefixUrl$url" title="$title">$title</a>
                    <p class="promotion__desc" title="$desc">$desc</p>
                    <div><a class="btn btn-white-color t-upper read-more" href="#if ($url.isEmpty())javascript::void(0)#else$prefixUrl$url#end">Read Article</a></div>
                </div>
            </div>
            #set ( $maxBlogOnceLoad = 6 )
            #set( $moreBlogs = $jsonFactoryUtil.createJSONArray())
            #set ($index = 1)
            #set( $size = $entries.size() - 1 )
            #if ($size ge $index)
                #set ($count = 0)
                <div class="group-blog">
                    <div class="row all-block" id="all-block">
                        #foreach ($number in [$index..$size])
                            #set($renderer = $entries.get($number).getAssetRenderer() )
                            #set($blog=$entries.get($number))
                            #set($className = $renderer.getClassName() )
                            #set ($image = "")
                            #set( $urlImage = '/documents/20126/906379/default-placeholder.jpg')

                            #if( $className == "com.liferay.journal.model.JournalArticle" )
                                #set( $journalArticle = $renderer.getArticle() )
                                #set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
                                #set( $rootElement = $document.getRootElement() )

                                #set( $xPathTitle = $saxReaderUtil.createXPath("dynamic-element[@name='title']/dynamic-content[@language-id='$themeDisplay.getLanguageId()']"))
                                #set( $title = $xPathTitle.selectSingleNode($rootElement).getStringValue())

                                #set( $xPathDescription = $saxReaderUtil.createXPath("dynamic-element[@name='Description']/dynamic-content[@language-id='$themeDisplay.getLanguageId()']"))
                                #set( $description = $xPathDescription.selectSingleNode($rootElement).getStringValue())

                                #set ($xPathUrl = $saxReaderUtil.createXPath("dynamic-element[@name='urlDetail']/dynamic-content[@language-id='$themeDisplay.getLanguageId()']"))
                                #set( $url= $xPathUrl.selectSingleNode($rootElement).getStringValue())

                                #set( $xPathImage = $saxReaderUtil.createXPath("dynamic-element[@name='thumbnailImage']/dynamic-content[@language-id='$themeDisplay.getLanguageId()']"))
                                #set( $image = $xPathImage.selectSingleNode($rootElement).getStringValue())
                                #set( $imgJson = $jsonFactoryUtil.createJSONObject($image) )

                                #if (!$image.isEmpty())
                                    #set ($urlImage = "/documents/"+ $imgJson.groupId +"/" +$imgJson.fileEntryId +"/"+$imgJson.name+"/"+$imgJson.uuid)
                                #end
                                #set( $articleTmp = $jsonFactoryUtil.createJSONObject() )
                                #set ($v = $articleTmp.put("index", $count))
                                #set ($v = $articleTmp.put("user", $blog.getUserName()))
                                #set ($v = $articleTmp.put("date", $dateTool.format('MMM-dd-yyyy', $blog.getModifiedDate())))
                                #set ($v = $articleTmp.put("title", $title))
                                #set ($v = $articleTmp.put("desc", $description))
                                #set ($v = $articleTmp.put("url", $url))
                                #set ($v = $articleTmp.put("image", $urlImage))
                                #set ($assetEntry = $assetEntryLocalService.getEntry("com.liferay.journal.model.JournalArticle", $journalArticle.getResourcePrimKey()))
                                #set ($viewCountMore = $getterUtil.getInteger($assetEntry.getViewCount()) / 2)
                                #set ($v = $articleTmp.put("view", $viewCountMore))
                                
                                #set ($blogCategories = $catLocalService.getEntryCategories($blog.getEntryId()))
                                #if ($blogCategories.size() > 0)
                                    #set( $tempCat = $jsonFactoryUtil.createJSONArray())
                                    #foreach($cat in $blogCategories)
                                        #if (!$exceptCat.contains($cat.getName()))
                                        #set ($v = $tempCat.put($cat.getName()))
                                        #end
                                    #end
                                    #set ($v = $articleTmp.put('categories', $tempCat))
                                #end
                                #set ($v = $moreBlogs.put($articleTmp))
                                #if ($count < 3)
                                <div class="col-md-4 col-sm-6 blog-widget blog-top">
                                    #if ($blogCategories.size() > 0)
                                    <div class="blog-heading">
                                        <div class="blog-category">
                                            #foreach($cat in $blogCategories)
                                                #if (!$exceptCat.contains($cat.getName()))
                                                <p class="t-upper">$cat.getName()</p>
                                                #end
                                            #end
                                        </div>
                                    </div>
                                    #end
                                    <div class="title f-medium" title="$title"><a class="d-block" href="$prefixUrl$url">$title</a></div>
                                    <div class="blog-widget-img blog-img">
                                        <a class="d-block h-100" title="$title" href="$prefixUrl$url">
                                            <img class="lazyload img-cover" alt="Promotions Thumbnail" data-src="$urlImage" />
                                        </a>
                                    </div>
                                </div>
                                #elseif ($count < $maxBlogOnceLoad + 3)
                                    <div class="col-md-12 blog-widget blog-widget-padding">
                                        <a class="row" href="$prefixUrl$url" title="$title">
                                            <div class="col-md-3 col-sm-4 col-xs-4">
                                                <div class="blog-widget-img blog-img">
                                                    <img class="lazyload img-cover" data-src="$urlImage" alt="Promotions Image">
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-8 col-xs-8">
                                                <div class="blog-widget-content">
                                                    <div class="blog-heading">
                                                        #if ($blogCategories.size() > 0)
                                                            <div class="blog-category">
                                                                #foreach($cat in $blogCategories)
                                                                    #if (!$exceptCat.contains($cat.getName()))
                                                                        <p class="t-upper">$cat.getName()</p>
                                                                    #end
                                                                #end
                                                            </div>
                                                        #end
                                                    </div>
                                                    <div class="blog-widget-title mb-2">
                                                        <b>$title</b>
                                                    </div>
                                                    <div class="article-meta">
                                                        <div class="article-desc" title="$description">$description</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                #end
                                #set ($count = $count + 1)
                            #end
                        #end
                    </div>
                    #if ($entries.size() > $maxBlogOnceLoad + 4)
                        <div class="blog-widget-more blog-widget-padding">
                            <a class="btn btn-white-color" href="#" id="load-more">
                                #if ($themeDisplay.getLanguageId() == 'vi_VN')Xem thêm #else Load More Article #end
                            </a>
                        </div>
                    #end
                </div>
            #end
        #end
        <div class="s-margin-height">&nbsp;</div>
        <div class="s-margin-height">&nbsp;</div>
    </div>
</section>
<style type="text/css">
    .promotion {
      margin-top: 50px;
      margin-bottom: 25px
    }

    .blog-img {
      width: 100%;
      display: block;
      overflow: hidden;
      background-color: #c4c4c4
    }

    .blog-img img,
    .promotion-img {
      -webkit-transition: transform .5s ease;
      -moz-transition: transform .5s ease;
      -o-transition: transform .5s ease;
      -ms-transition: transform .5s ease;
      transition: transform .5s ease
    }

    .promotion__header {
      color: #747474
    }

    .blog-widget .blog-heading {
      display: flex;
      align-items: center;
      color: #747474;
      text-transform: uppercase
    }

    .blog-heading .blog-category {
      position: relative;
      display: flex
    }

    .blog-heading .blog-category p {
      margin-right: 10px
    }

    .blog-category p,
    .article-meta .category {
      text-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
      font-size: 14px
    }

    .promotion .promotion__title {
      font-size: 25px
    }

    .article-meta {
      color: #4d4d4d
    }

    .article-meta .article-desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden
    }

    .blog-widget-title,
    .blog-widget-title a,
    .blog-top .title {
      color: var(--text-headline)
    }

    .promotion .promotion__desc {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: .5rem
    }

    .promotion .read-more {
      border-color: #747474;
      font-size: 15px;
      font-weight: bold;
      color: inherit
    }

    .promotion .read-more:hover {
      border-color: var(--vng-orange);
      color: #fff !important
    }

    .blog-widget__thumb {
      height: 100%;
      position: relative;
      display: block;
      cursor: pointer;
      overflow: hidden
    }

    .promotion__title a {
      color: #fff
    }

    .promotion__title:hover a {
      text-decoration: none
    }
    .article-publish {
      font-size: 13px;
    }
    .article-meta {
      margin: 5px 0;
    }
    .blog-widget-padding {
      padding: 20px 0
    }

    .blog-widget-more.hidden {
      display: none
    }

    .blog-widget-more .btn {
      color: var(--text-body);
      font-size: 15px;
      border: .5px solid var(--text-body);
      text-transform: uppercase
    }

    .blog-widget-more .btn:hover {
      border-color: var(--vng-orange);
      color: #fff !important
    }

    .blog-widget-more span {
      font-size: 22px;
      font-weight: 600;
      cursor: pointer
    }

    .blog-widget-img {
      height: 150px
    }

    .blog-top {
      margin-bottom: 30px
    }

    .blog-top a {
      color: inherit;
      display: block
    }

    .blog-widget-title,
    .blog-top .title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      overflow: hidden
    }

    .blog-top .title {
      margin-bottom: 10px
    }

    .blog-widget-content {
      padding-left: 20px
    }

    .blog-img:hover img,
    .promotion__thumb:hover .promotion-img {
      transform: scale(1.1)
    }

    .blog-widget a:hover,
    .blog-widget .blog-widget-title:hover,
    .blog-top .title:hover {
      color: var(--vng-orange);
      text-decoration: none
    }

    @media(min-width:992px) {
      .promotion .promotion__title {
        font-size: 30px
      }
    }

    @media(min-width:875px) {
      .blog-top .blog-img {
        height: 200px
      }
    }

    @media(min-width:768px) {
      .promotion .read-more {
        margin-top: 1rem
      }

      .blog-top .title {
        min-height: 60px
      }

      .promotion__content {
        padding-left: 20px
      }

      .group-blog .blog-widget:not(.blog-top) {
        border-bottom: .5px solid #eee
      }

      .blog-top {
        padding-right: 20px
      }

      .blog-top .title,
      .blog-widget-title {
        font-size: 18px
      }
    }

    @media(max-width:767.98px) {
      .blog-top:nth-child(n) {
        padding-right: 10px
      }

      .blog-top:nth-child(2n) {
        padding-left: 10px;
        padding-right: 0
      }

      .all-block .blog-widget:nth-child(4) {
        padding-top: 30px !important
      }

      .all-block .blog-widget:nth-child(4)::before {
        content: ' ';
        top: 0;
        left: 10px;
        right: 10px;
        height: .5px;
        background: #bababa;
        width: 100%;
        position: absolute
      }

      .promotion__header {
        margin-top: 20px
      }

      .blog-widget-padding {
        padding: 0 10px;
        margin-bottom: 20px
      }

      .blog-top .blog-widget-img {
        height: 200px
      }

      .blog-widget-content {
        display: flex;
        flex-direction: column-reverse
      }

      .blog-widget:not(.promotion) a {
        height: 100%
      }

      .blog-widget .blog-heading {
        padding-top: 10px
      }

      .blog-top .title {
        padding: 10px 0;
        font-size: 18px
      }

      .blog-top .title.visible-xs-block {
        display: -webkit-box !important
      }
    }

    @media(min-width:576px) {
      .promotion .promotion__thumb {
        height: 300px
      }

      .blog-heading .blog-time {
        margin-right: 30px
      }

      .blog-heading p {
        margin-bottom: .5rem
      }
    }

    @media(max-width:575.98px) {
      .promotion {
        margin: 0 -15px 25px -15px
      }

      .promotion .promotion__thumb {
        height: 250px
      }

      .g-topic {
        font-size: 30px
      }

      .blog-top,
      .blog-widget-padding {
        padding: 0 !important
      }

      .all-block .blog-widget:nth-child(4)::before {
        left: 0;
        right: 0
      }

      .blog-widget:not(.blog-top) .blog-heading p {
        font-size: 13px
      }

      .blog-heading .blog-time {
        margin-right: 20px
      }

      .blog-widget-img {
        height: 80px
      }

      .blog-widget-content {
        padding-left: 10px
      }
    }
</style>
<script type="text/javascript" defer>
  $(document).ready(function (e) {
    let numBlog = parseInt('${count}'),
      offset = parseInt('${maxBlogOnceLoad}'),
      limit = parseInt('${maxBlogOnceLoad}'),
      blogs = ${moreBlogs},
      page = 1;
    $('#load-more').on('click', function (e) {
      e.preventDefault();
      for (var index = (offset * page) + 3; index < (page + 1) * offset + 3; index++) {
        appendBlog(blogs[index]);
        if (index == numBlog - 1) {
          $('.blog-widget-more').addClass('hidden');
          break;
        }
      }
      page++;
    });

    function appendBlog(blog, isAppened = true, href = "all-block") {
      let url = blog['url'] !== "" ? "${prefixUrl}" + blog['url'] : "javascript::void(0)",
        categories = _.get(blog, 'categories', []),
        txtCat = "<div class='blog-category'>",
        result = "";
      if (!_.isEmpty(categories)) {
        categories.forEach(element => {
          txtCat += "<p class='t-upper'>" + element + "</p>"
        });
      }
      txtCat += "</div>";
      let html = "<div class='col-md-12 blog-widget blog-widget-padding'>" + "<a class='row' title='" + blog[
          'title'] + "' href='" + url + "'>" +
        "<div class='col-md-3 col-sm-4 col-xs-4'><div class='blog-widget-img blog-img'><a class='d-block' href=" +
        url + " title=''" + blog['title'] + "'><img class='lazyload img-cover' data-src='" + blog['image'] +
        "' alt='Blog Image' /></a></div></div>" +
        "<div class='col-md-9 col-sm-8 col-xs-8'><div class='blog-widget-content'><div class='blog-heading'>" +
        "<p class='blog-time'>" + blog['date'] + "</p>" + txtCat + '</div>' +
        "<div class='blog-widget-title' title='" + blog['title'] + "' ><b>" + blog['title'] + "</b></div><div class='article-meta'><div class='article-desc' title='" + blog[
          'desc'] + "'>" + blog['desc'] + "</div></div></div></div></a></div>";
      if (isAppened) {
        $('#' + href).append(html);
      }
      return html;
    }
  });
</script>